@model ConfirmEmailChangeModel
@{
    Layout = "_LayoutUserManage";
    ViewData["Title"] = "确认邮箱修改";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="@ViewData["StatusMessage"]" />