@model UserViewModel
@{
    ViewData["Title"] = "Profile";
}
<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <form id="profile">
            <h4>User Profile.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input class="form-control" asp-for="Username" readonly>
            </div>
            <div class="form-group">
                <label asp-for="NickName"></label>
                <input class="form-control" asp-for="NickName">
            </div>
            <div class="form-group">
                <label asp-for="NormalizedEmail"></label>
                <input class="form-control" asp-for="NormalizedEmail" readonly>
            </div>
            <div class="form-group">
                <label asp-for="Mobile"></label>
                <input class="form-control" asp-for="Mobile" readonly>
            </div>
            <div class="form-group">
                <label asp-for="LastLoginTime"></label>
                <input class="form-control" asp-for="LastLoginTime" readonly>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>