@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.StaticPagedList<Blog.ViewModels.PostViewModel>

@{
    ViewData["Title"] = "首页";
}

<h3 class="fs-4">
    @ViewBag.CategoryName
</h3>
<hr />

@if (Model.Any())
{
    <partial name="_PostList" />
    @Html.PagedListPager(Model, page => $"?page={page}", new PagedListRenderOptions
    {
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        UlElementClasses = new[] { "pagination pagination-sm justify-content-end" },
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false
    })
}
else
{
    <partial name="_NoPosts" />
}