@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Core.Common
@using Blog.MVC.Models.Post
@model X.PagedList.StaticPagedList<PostViewModel>

@{
    ViewData["Title"] = "首页";
}

@section head{
    <link href="~/css/post.css" rel="stylesheet" />
}

<h3>
    <a class="float-right d-none d-md-block" title="Subscribe Recent 10 Posts">
    </a>
    <span>
        全部文章
    </span>
</h3>
<hr />

@if (Model.Any())
{
    <partial name="_PostList" />
    @Html.PagedListPager(Model, page => $"?page={page}", new PagedListRenderOptions
    {
        LiElementClasses = new[] { "page-item" },
        PageClasses = new[] { "page-link" },
        UlElementClasses = new[] { "pagination justify-content-end" },
        MaximumPageNumbersToDisplay = 5,
        DisplayEllipsesWhenNotShowingAllPageNumbers = false
    })
}
else
{
    <partial name="_NoPosts" />
}