@model LoginInputModel
@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h4>Use a email to log in.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="RememberMe">
                            <input asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a id="forgot-password" asp-controller="Account" asp-action="ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        @*<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>*@
                        <a asp-controller="Account" asp-action="Register">Register as a new user</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*<div class="row">
        <form class="login-form" method="post" asp-controller="Account" asp-action="Login">
            <div class="form-group">
                <label asp-for="Email">Email Address</label>
                <input class="form-control" asp-for="Email" aria-describedby="emailHelp">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                <span asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input class="form-control" asp-for="Password">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="RememberMe"></label>
                <input class="form-control" asp-for="RememberMe">
                <span asp-validation-for="RememberMe"></span>
            </div>
            <div style="font-size:1.5rem;" asp-validation-summary="ModelOnly"></div>
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>*@