@using Blog.MVC.Controllers
@model IReadOnlyList<Blog.ViewModels.Categories.CategoryViewModel>

@if (Model?.Count > 0)
{
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var category in Model)
        {
            <a class="dropdown-item" asp-controller="Post" asp-action="@nameof(PostController.Index)" asp-route-categoryId="@category.Id">@category.CategoryName</a>
        }
    </div>
}
else
{
    <div class="text-danger">没有分类</div>
}
