@using Blog.MVC.Models
@using Blog.MVC.Controllers
@model IReadOnlyList<CategoryViewModel>

@if (Model.Count > 0)
{
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        @foreach (var category in Model)
        {
            <a class="dropdown-item" asp-controller="Post" asp-action="@nameof(PostController.CategoryList)" asp-route-categoryId="@category.Id">@category.CategoryName</a>
        }
    </div>
}
