a.navbar-brand {
    font-size: 3rem;
}

.navbar-nav,
a.nav-link,
.dropdown-item {
    font-size: 1.5rem;
}

.form-group,
.form-control,
.btn {
    font-size: 1.5rem;
}

main .login-form {
    height: 600px;
    margin: 0 auto;
    transform: translateY(20%)
}
