@using Blog.MVC.Controllers
@using Microsoft.Extensions.Configuration
@inject IConfiguration _configuration

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 996bug.icu</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link href="~/css/post.css" rel="stylesheet" />
    <environment include="Production">
        <link href="~/lib/bootstrap-5.1.1-dist/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Production">
        <link href="~/lib/bootstrap-5.1.1-dist/css/bootstrap.css" rel="stylesheet" />
    </environment>
    @await RenderSectionAsync("Head", required: false)
</head>
<body>
    <header>
        <nav class="navbar fixed-top navbar-expand-sm navbar-dark bg-success">
            <div class="container-md">
                <a class="navbar-brand p-0 fs-4 fw-bolder" asp-controller="Post" asp-action="@nameof(PostController.Index)">996BUG.ICU</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                分类
                            </a>
                            @await Component.InvokeAsync("CategoryMenu")
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-light text-light" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <main role="main" class="container min-vh-100">
        @RenderBody()
    </main>
    <footer class="border-top bg-success p-2">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-4">
                    <p class="text-light m-0">&copy;@DateTime.Now.Year - 996Bug.icu</p>
                    <p class="m-0 p-0">
                        <a class="link-light text-decoration-none" href="http://beian.miit.gov.cn/" target="_blank">苏ICP备2020068441号-1</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js"></script>
    <environment include="Production">
        <script src="~/lib/bootstrap-5.1.1-dist/js/bootstrap.min.js"></script>
    </environment>
    <environment exclude="Production">
        <script src="~/lib/bootstrap-5.1.1-dist/js/bootstrap.js"></script>
    </environment>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
