@using Newtonsoft.Json
@using Blog.MVC.Models
@model string

@{
    if (!String.IsNullOrEmpty(Model))
    {
        var statusMessage = JsonConvert.DeserializeObject<StatusMessage>(Model);
        <div class="alert alert-@statusMessage.StatusMessageClass alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            @statusMessage.Message
        </div>
    }
}